@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  @apply text-[18px] font-[400] leading-[26px] text-black/60
}


.gradient-text {
  background: linear-gradient(108deg, #E5DB85 0%, #85600F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply tracking-[1.3px] leading-[18px] text-[18px] font-[500]
}
.gradient-bg {
  background: linear-gradient(108deg, #E5DB85 0%, #85600F 100%)
}

.card-shadow {
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
}

.section-title {
  @apply text-[38px] font-[700] leading-[120%]
}